server:
  port: 8081

spring:
  application:
    name: service-provider
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/