server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: git@github.com:xqxshine/cloud.git  # 替换为你的配置仓库地址
          search-paths: config
          default-label: main

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/